[class*='col-'] {
    float: left;
 }
 .grid {
    width: auto;
    padding: 10px;
 }
 grid:after {
    content: "";
    display: table;
    clear: both;
 }
.col-1-1{
    width: 100%;
}
#header{
    text-align: center;
}

.col-1-4{
    width: 25%;
}

img{
    max-width: 100%;
}

 .player {
    position: relative;
    padding-top: 56.2757202%;
 }
 .player video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
 }
 .tall{
     position: relative;
     padding-top: 136%
 }
 .tall video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
 }